venv
.DS_Store
permutations
trades
OOS
oos_experiments
inspection
new_in_sample_out_of_sample_experiment/results/in_sample/distributions
new_in_sample_out_of_sample_experiment/results
new_in_sample_out_of_sample_experiment/results v2
new_in_sample_out_of_sample_experiment/data
new_in_sample_out_of_sample_experiment/results
full_data
data/in_sample
data/out_of_sample
parameter_optimization_experiment/data
parameter_optimization_experiment/data origin
parameter_optimization_experiment/results/optimal_window/chronological_oos_trades.csv
parameter_optimization_experiment/prod_results/
parameter_optimization_experiment/prod_trades/
parameter_optimization_experiment/results origin OLD/
parameter_optimization_experiment/results
full_data SPOT/